.navbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    font-size: 20px;
    color: #422e54;
    padding-left: 20px;
}
  
.logo img {
    max-width: 60px;
}
  
.app__navbar-links {
    list-style: none;
    display: flex;
    gap: 20px; 
    padding: 20px 0; 
  }
  
  .app__navbar-links a {
    text-decoration: none;
    color: #422e54;
    font-weight: bold;
    font-size: 18px;
  }

.user-data {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #422e54;
    color: #f8f8f8;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}